.page-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(30,31,34);
  height: 100vh;
  width: 100vw;
  color: white;
}

h1, h2 {
  margin: 0;
}

.main-section-wrapper {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(43, 45, 49);
  padding: 5vh;
  border-radius: 5vh;
  row-gap: 1rem;
}

.main-section-header {
  text-align: center;
}

.app-intro-section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  text-align: center;
}

.mock-discord-message-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timestamp-creator-section {
  width: 100%;
}

.timestamp-creator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  border-radius: 2.5vh;
  padding: 2.5vh;
  background-color: rgba(49, 51, 56);
}