.timestamp-mode-selector-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
}

.creation-mode-toggle {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}

.creation-mode-option {
    font-size: 1.5rem;
    padding: .25rem;
    padding-left: .75rem;
    padding-right: .75rem;
    cursor: pointer;
    background-color: rgb(17,18,20);
    transition: all .25s;
    user-select: none;
    margin-top: -2px;
}

.selected {
    background-color: rgb(88, 101, 242);
}

.timestamp-format-selector {
    cursor: pointer;
    height: fit-content;
    width: 164px;
    position: relative;
    background-color: gray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.selected-format {
    margin-top: -2px;
}

.timestamp-format-selector-container {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    width: 95%;
    background-color: rgb(17,18,20);
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.timestamp-format-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.timestamp-format-preview svg {
    transition: all .2s;
}

.timestamp-format-dropdown-items::before {
    display: block;
    content: "";
    height: 11px;
    width: 100%;
}

.timestamp-format-dropdown-items {
    position: absolute;
    overflow-y: hidden;
    width: 100%;
    transition: all .5s;
    top: 54px;
    left: 0px;
    background-color: rgb(17,18,20);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.timestamp-format-option {
    display: flex;
    justify-content: flex-start;
    width: calc(100% - 16px);
    margin-top: -2px;
    padding-top: 2px;
    padding-bottom: 2px;
    user-select: none;
    padding-left: 16px;
}

.timestamp-format-option:first-child {
    border-top: 1px solid white;
}

.timestamp-format-option:hover {
    background-color:rgb(36,37,41);
}

.generated-message-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.generated-message-box {
    display: flex;
    font-size: 20px;
    border: 2px solid rgb(17,18,20);
    background-color: rgba(43, 45, 49);
    border-radius: 4px;
    padding: 7px 16px 8px 16px;
    filter: brightness(75%);
}

.generated-timestamp {
    margin-top: -2px;
}

.copy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(17,18,20);
    height: 44px;
    width: 42px;
    border-radius: 4px;
}

.copy-button:hover {
    background-color: rgb(88, 101, 242);
}